
tmp/
locale/
*dwsync.xml
*empty
*.profile
*.bash_profile
*/Jamiesapp
*/Kitinventory/
*/FacebookeBuilt/
*/Someapp/
*/Testapp/
*/Kit/
*webroot/mobile/*


./Plugin/*
!./Plugin/Acl
!./Plugin/Extensions
!./Plugin/Example
!./Plugin/Install
!./Plugin/Translate

Config/database.php
Config/settings.json
Vendor/Simpletest/
View/Themed/
webroot/uploads/
Config/facebook.php

Config/facebook.php
